<!DOCTYPE html>
<html>
<head>
    {% block metahead %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <base href="{{ baseHref }}" target="_self">
    {% endblock metahead %}

    <link rel="shortcut icon" href="vendor/athens/theme/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="vendor/athens/theme/assets/images/favicon.ico" type="image/x-icon">

    {% block head %}

        {% include "page/athens-css.twig" %}
        {% include "page/athens-js.twig" %}

        <!--Bootstrap-->
        <link rel="stylesheet" href="vendor/athens/theme/assets/css/bootstrap.min.css">
        <script src="vendor/athens/theme/assets/js/bootstrap.min.js"></script>

        <!--Summernote-->
        <link rel="stylesheet" href="vendor/athens/theme/assets/css/summernote.css">
        <script src="vendor/athens/theme/assets/js/summernote.min.js"></script>

        <!--Chosen.js-->
        <link rel="stylesheet" href="vendor/athens/theme/assets/css/chosen.min.css">
        <script src="vendor/athens/theme/assets/js/chosen.jquery.min.js"></script>

        <!--bootstrap-notify-->
        <link rel="stylesheet" href="vendor/athens/theme/assets/css/animate.css">
        <script src="vendor/athens/theme/assets/js/bootstrap-notify.min.js"></script>

        <!--Override athens.alert to use bootstrap-notify-->
        <script src="vendor/athens/theme/assets/js/alert.js"></script>

        <link rel="stylesheet" href="vendor/athens/theme/assets/css/style.css">

    {% endblock head %}

    {% block project_head %}

        {% for cssFile in projectCSS %}
    <link rel="stylesheet" href="{{ cssFile }}">
        {% endfor %}

        {% for jsFile in projectJS %}
        <script type='text/javascript' src='{{ jsFile }}'></script>
        {% endfor %}

    {% endblock project_head %}


</head>
<body id="{{ id }}" class="{{ pageType }} {{ classes|join(' ') }}">

{% block body %}
    <div class="loading-gif hidden"></div>

    <div id="notification-area"></div>

    <div id="mask-screen">

        <div class="search-div">
            <div class="section-label">Search Criteria</div>
            <div id="search-criteria-area"></div>
        </div>

    </div>

    {% block navheader %}{% endblock navheader %}

    <div class="container page-width">

        {% block content %}
            {% for writable in writables  %}
                {{ writable|write|raw }}
            {% endfor %}
        {% endblock content %}


    </div>
    {% block footer %}
        <div id="footer-container container">
            <p id="footer-wordmark">Athens</p>
            <p id="footer-tagline">A Web Framework for Academic Institutions</p>
            <p id="footer-link"><a href="https://athens.framework.rocks">https://athens.framework.rocks</a></p>
        </div>
    {% endblock footer %}

{% endblock body %}

<script type='text/javascript'>
    $('textarea.html').summernote();
    $('select').chosen();

    athens.ajax_section.registerPostSectionAction(function() {
        $('textarea.html').summernote();
        $('select').chosen();
    });

</script>
</body>
</html>